<app-navbar [isCollapsed]="isCollapsed" (toggleSidebar)="toggleSidebar()"></app-navbar>

 <app-side-nav [isCollapsed]="isCollapsed"></app-side-nav>

<!-- <app-footer [isCollapsed]="isCollapsed"></app-footer> -->
<!-- <div class="app-container"> -->
  <!-- Sidebar (component) -->
  <!-- <app-side-nav [isCollapsed]="isCollapsed"></app-side-nav> -->

  <!-- Main Content Area -->
  <!-- <div class="main-container" [class.collapsed]="isCollapsed"> -->

    <!-- Header (component) -->
    <!-- <app-navbar [isCollapsed]="isCollapsed" (toggleSidebar)="toggleSidebar()"></app-navbar> -->

    <!-- Main Content -->
    <!-- <main class="main-content" id="mainContent">
      <router-outlet></router-outlet>
    </main> -->

  <!-- </div> -->
<!-- </div> -->
