<div class="container-fluid">
<div class="cat-card" [ngClass]="cardClass">
  @if (showHeader) {
    <div class="card-header d-flex align-items-center justify-content-between" [ngClass]="headerClass">
      <div class="d-flex align-items-center">
        <h5 class="mb-0">{{cardTitle}}</h5>
        <ng-container *ngTemplateOutlet="headerTitleTemplate"></ng-container>
      </div>
      <div class="d-flex align-items-center">
        @if (buttondata?.buttonName) {
          <button (click)="toggleClass()" class="btn btn-cta btn-cta-wide">
  <i class="bi bi-plus-lg me-1"></i>{{ buttondata?.buttonName }}
</button>

        }
      </div>
      <ng-container *ngTemplateOutlet="headerOptionsTemplate"></ng-container>
    </div>
  }
  @if (showContent) {
    <div class="card-body" [ngClass]="blockClass" [style.padding.px]="padding">
      <ng-content></ng-content>
    </div>
  }
</div>
