

:root {
  --primary: #6A4C93;
  --sidebar-width: 220px;
  --sidebar-collapsed-width: 60px;
}

* { box-sizing: border-box; }

body {
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.sidenav.collapsed .menu-item span,
.sidenav.collapsed .menu-heading {
  display: none;
}

.toggle-btn.collapsed {
  margin-left: var(--sidebar-collapsed-width)
}

.sidenav.collapsed {
  left: var(--sidebar-collapsed-width);
}
.header.collapsed {
  left: var(--sidebar-collapsed-width);
}
footer.collapsed {
  margin-left: var(--sidebar-collapsed-width);
}
